<section id="contact">
  <div class="contact-wrap">

    <!-- Contact Form Block-->
    <div class="contact-form">
      <form action="" method="post">

        <div class="name-email-block">
          <div class="input-block">
            <label for="name">Name</label>
            <input type="text" name="name" id="name">
          </div>

          <div class="input-block">
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
          </div>
        </div>

        <div class="textarea-block">
          <label for="message">Message</label>
          <textarea name="message" id="message"></textarea>
        </div>

        <div class="submit-btn-block">
          <input type="submit" value="Submit">
        </div>
      </form>
    </div>

    <!-- Contact Details Block -->
    <div class="contact-details">
      <div class="detail">
        <h2>Email</h2>
        <p>info@studio22.io</p>
      </div>

      <div class="detail">
        <h2>Phone</h2>
        <p>(+27) 021 000 0000</p>
      </div>

      <div class="detail">
        <h2>Address</h2>
        <p>123 Somewhere Road #5325</p>
        <p>Cate Town, WC2020</p>
        <p>South Africa</p>
      </div>
    </div>
  </div>
</section>
