<!-- Navigation -->
<nav>
  <div class="nav-wrap">
    <section class="upper-section">
      <div class="part logo">
        <!-- <img src="../../assets/images/icon-1.png" alt="Studio 22 Logo"> -->
        <a href="welcome">Studio 22</a>
      </div>
      <div class="part log">
        <ul>
          <li><a href="">Login</a></li>
          <li><a href="">signup</a></li>
        </ul>
      </div>
    </section>
    <section class="lower-section">
      <ul>
        <li><a href="">Music Studio</a></li>
        <li><a href="">News Room</a></li>
        <li><a href="">Sit Com</a></li>
        <li><a href="">Gaming Room</a></li>
      </ul>
    </section>
  </div>
</nav>
